@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Poo Planner is a tool for all parents of kids with sensitive stomachs.</p>
    <p>Get an overview of your child's meals, medication and &#128169;</p>
</div>
