@model PooPlanner.UI.Models.PlannerViewModel

@{
    ViewData["Title"] = "Register";
}

@using (Html.BeginForm("Register", "Home", FormMethod.Post)){
    <h2>Register meal</h2>
    <label for="dishName">Dish</label>
    <input type="text" id="dishName" name="dishName" />
    <label for="dishSize">Dish size</label>
    <select id="dishSize" name="dishSize">
        <option value=0>Small</option>
        <option value=1>Medium</option>
        <option value=2>Large</option>
    </select>
    <!--label for="dishTimestamp">Time</label-->
    <!--input type="datetime-local" id="dishTimestamp" name="dishTimestamp" /-->
    @Html.TextBoxFor(m => m.DishTimestamp)
    <label for="allergeneInput">Allergene</label>
    <input type="text" id="allergeneInput" name="allergeneInput" />
    @using @Html.BeginForm("AddAllergene", "Home", FormMethod.Post){
        <button>Add allergene</button>
    }
    <ul>
        <p>test1</p>
        @foreach (var allergene in Model.DishAllergenes)
        {
            <p>test2</p>
            <li>allergene</li>
        }
    </ul>
}